{% extends "::layout.html.twig" %}
{% block prinipal_navigation %}
    <div class="sidebar_container">
    {% block navigation1 %}
        <div class="sidebar">
          <div class="sidebar_item">
            <h2>{% block title_navigation1 %}{% endblock %}</h2>
            <p>{% block content_navigation1 %}{% endblock %}</p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
    {% endblock %}
    {% block navigation2 %}{% endblock %}
    {% block navigation3 %}{% endblock %}
    {% block navigation4 %}{% endblock %}
    {% block navigation5 %}{% endblock %}
    </div><!--close sidebar_container-->
{% endblock %}